KAGGLE_USERNAME=seu_usuario_kaggle
KAGGLE_KEY=sua_chave_api_kaggle
MLFLOW_TRACKING_URI=http://localhost:5000
MODEL_NAME=credit-risk-xgboost
PREDICTION_THRESHOLD=0.5
API_URL=http://localhost:8000
POSTGRES_PASSWORD=mlflow
